<form class="form mat-elevation-z8">
    <h1>Deletando Cliente</h1>
    <mat-form-field class="full-width">
      <mat-label>Nome</mat-label>
      <input [(ngModel)]="cliente.nome" name="nome" disabled matInput>
    </mat-form-field>
    
    <mat-form-field class="full-width">
        <mat-label>CPF</mat-label>
        <input [(ngModel)]="cliente.cpf" name="cpf" disabled matInput>
    </mat-form-field>
    
    <mat-form-field class="full-width">
      <mat-label>Telefone</mat-label>
      <input [(ngModel)]="cliente.telefone" name="telefone" name="telefone" disabled matInput>
    </mat-form-field>

    <button class="mat-elevation-z8" (click)="delete()" mat-raised-button color="accent">DELETAR</button>
    <button class="mat-elevation-z8" (click)="cancel()" mat-raised-button color="warn">CANCELAR</button>
  </form>
  