<mat-card class="mat-elevation-z8">
    <mat-card-header>
        <div class="container">
            <mat-card-title>OS System</mat-card-title>
            <!--<mat-card-subtitle>Sistema de Ordens de Serviço</mat-card-subtitle>
            <mat-card-subtitle>desenvolvido no curso</mat-card-subtitle>
            <mat-card-subtitle>Full Stack Developer</mat-card-subtitle>-->
            <mat-card-subtitle>Sistema de Ordens de Serviço desenvolvido no curso Full Stack Developer</mat-card-subtitle>
    
            <img src="assets/img/work.png" alt="" width="600">
        </div>
    </mat-card-header>
</mat-card>